# --------- pytorch --------- #
torch>=1.10.0
torchvision>=0.11.0
pytorch-lightning==1.6.4
torchmetrics==0.9.1

# --------- hydra --------- #
hydra-core==1.2.0
hydra-colorlog==1.2.0
hydra-optuna-sweeper==1.2.0

# --------- loggers --------- #
wandb==0.11.2

# --------- models --------- #
scikit-learn>=1.0.2
einops==0.4.1
pytorch-tabnet==3.1.1
pytorch-widedeep==1.2.1
statsmodels>=0.13.1
xgboost>=1.6.0
catboost>=1.0.5
lightgbm>=3.3.2

# --------- XAI --------- #
shap==0.39.0

# --------- figures --------- #
plotly>=5.7.0
matplotlib>=3.5.2
seaborn>=0.11.2
kaleido>=0.2.1

# --------- dataframes --------- #
pandas>=1.4.2
openpyxl>=3.0.9

# --------- imputation --------- #
impyute>=0.0.8

# --------- others --------- #
python-dotenv>=0.21.0   # loading env variables from .env file
rich>=12.6.0            # beautiful text formatting in terminal
